.fc{
    display: flex;
    align-items: left;
    background-color: bisque;
    height: 50vh;
    justify-content: space-between;
    flex-direction: column;
    
}
.box1{
    background-color: green;
    height: 100px;
    width: 100px;
    flex:1 ;
    padding: 5px;
    margin: 5px;

    
}
.box2{
    background-color: blue;
    height: 100px;
    width: 100px;
    flex: 1;
    padding: 5px;
    margin: 5px;
   
    
}

.box3{
    background-color:red;
    height: 100px;
    width: 100px;
    flex: 1;
    padding: 5px;
    margin: 5px;
   
    

}